.container{
    max-width: 1280px;
    margin: 0 auto;
}

.cart-button{
    display: block;
    margin-left: auto;
    margin-top: 40px;
}

button img{
    width: 50px;
}

.goods-list{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.goods-item{
    text-align: center;
    width: 150px;
    border: 5px solid;
    border-radius: 5px;
}

.goods-item img{
    padding-top: 10px;
    width: 100px;
}

.goods-item h3{
    padding-top: 10px;
    font-size: 25px;
}

.goods-item p{
    padding: 10px 0 10px 0;
    font-size: 20px;
}

.sumBasket{
    font-size: 25px;
    text-align: right;
    padding-top: 40px;
}
